<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more">
            <img
                src="../assets/icon/more.svg"
                alt="More"
                class="icon top-bar__more"
            />
        </button>
        <!-- Logo -->
        <a href="./" class="logo">
            <img
                src="./assets/icon/logo - grocerymart.svg"
                alt="grocerymart"
                class="logo__img"
            />
            <h1 class="logo__title">grocerymart</h1>
        </a>

        <!-- Navbar -->
        <div class="navbar">
            <ul class="navbar__list">
                <li class="navbar__link">
                    <a href="#!">Departments</a>
                    <img
                        src="./assets/icon/navbar - Arrow - Down 2.svg"
                        alt="arrow down"
                        class="icon navbar__arrow"
                    />
                </li>
                <li class="navbar__link">
                    <a href="#!">Grocery</a>
                    <img
                        src="./assets/icon/navbar - Arrow - Down 2.svg"
                        alt="arrow down"
                        class="icon navbar__arrow"
                    />
                </li>
                <li class="navbar__link">
                    <a href="#!">Beauty</a>
                    <img
                        src="./assets/icon/navbar - Arrow - Down 2.svg"
                        alt="arrow down"
                        class="icon navbar__arrow"
                    />
                </li>
            </ul>
        </div>

        <!-- acctions -->
        <div class="top-action">
            <a href="" class="top-action__btn--text">Sign In</a>
            <a href="" class="top-action__sign-up">Sign Up</a>
        </div>
    </div>
</div>
