html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(65%)
        saturate(940%) hue-rotate(217deg) brightness(95%) contrast(95%);
    --header-bg-color: #eee;
}
